<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Perpetuaspotify</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" media="screen">
  <link rel="stylesheet" href="/bulmaswatch.min.css" media="screen">
  <link rel="stylesheet" href="/main.css" media="screen">
</head>
<body>
  <div class="page-root">
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/cheshire137/perpetuaspotify">View source</a> &middot;
          Built with &hearts; by Sarah
        </p>
      </div>
    </div>
  </footer>
  <script src="/main.js"></script>
</body>
</html>
