<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title" href="/user/<%= @user.to_param %>">
            Perpetuaspotify
          </a>
        </div>
        <div class="nav-right nav-menu">
          <a href="/logout" class="nav-item">
            Log out <%= @user.user_name %>
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <ul class="recently-played-list">
          <% @tracks.each do |track| %>
            <li>
              <%= erb :track, locals: { track: track } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
