body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-root {
  flex: 1 0 auto;
}

.button.is-spotify {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #57b660;
  border-color: transparent;
  color: #fff;
}

.button.is-spotify:hover,
.button.is-spotify:focus {
  background-color: #5bbe63;
}

.hero.is-primary .nav,
.hero .nav {
  box-shadow: none;
}

.hero .nav .title {
  line-height: 1;
}

.hero.is-primary .nav-item a:not(.button),
.hero.is-primary a.nav-item {
  color: #fff;
}

.hero.is-primary .nav-item a:not(.button).is-active,
.hero.is-primary .nav-item a:not(.button):hover,
.hero.is-primary a.nav-item.is-active,
.hero.is-primary a.nav-item:hover {
  text-decoration: underline;
}

.content ul.tracks-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

.tracks-list > li {
  display: inline-block;
}

.tracks-list > li + li {
  margin-top: 1em;
}

.content ul.audio-features-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  font-size: 13px;
}

.content ul.audio-features-list li {
  display: inline-block;
}

.content ul.audio-features-list li + li {
  margin-top: 0;
}

.content ul.audio-features-list li + li:before {
  content: "\b7\a0";
}

.track-name {
  font-size: 1.1rem;
}

.track-artists,
.track-play-time {
  font-size: 0.85rem;
}

.notification a {
  color: #fff;
  text-decoration: underline;
}

.notification a:hover,
.notification a:focus {
  text-decoration: none;
}

.content ol.playlist-track-list {
  overflow: auto;
  list-style: none;
  max-height: 350px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 2em;
}

.hero-body {
  padding-top: 0.1rem;
  padding-bottom: 1rem;
}

.hero-body > .container > .title {
  padding-top: 0.5rem;
}

.nav-item {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
}

.nav-item.title {
  font-size: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.hero.is-primary a.nav-item.title:hover,
.hero.is-primary a.nav-item.title:focus {
  background-color: transparent;
}

.media-left.track-image-container {
  margin-right: 0;
}

.track-info {
  display: none;
}

.track-info.is-visible {
  display: block;
  background-color: #073642;
  min-height: 65px;
  margin-top: 2px;
  padding: 5px 1rem 0 1rem;
}

.button.is-image {
  height: auto;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

.button.is-image img {
  display: block;
}

.pull-right {
  float: right;
}

.box .content .subtitle {
  color: #c3c3c3;
  margin-left: 1rem;
}

.nav-item .icon {
  margin-right: 10px;
}

.adjust-recommendations-trigger,
.adjust-recommendations-trigger .fa {
  font-size: 1rem;
}
