body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-root {
  flex: 1 0 auto;
}

.button.is-spotify {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #57b660;
  border-color: transparent;
  color: #fff;
}

.button.is-spotify:hover,
.button.is-spotify:focus {
  background-color: #5bbe63;
}

.hero.is-primary .nav,
.hero .nav {
  box-shadow: none;
}

.hero .nav .title {
  line-height: inherit;
}

.hero.is-primary .nav-item a:not(.button),
.hero.is-primary a.nav-item {
  color: #fff;
}

.hero.is-primary .nav-item a:not(.button).is-active,
.hero.is-primary .nav-item a:not(.button):hover,
.hero.is-primary a.nav-item.is-active,
.hero.is-primary a.nav-item:hover {
  text-decoration: underline;
}

.recently-played-list li + li {
  margin-top: 1em;
}
